# Owner private key
OWNER_PK=""
# Individual wallet private key
INDIVIDUAL_PK=""
# Infura provider
PROVIDER="wss://rinkeby.infura.io/ws/v3/0ca47331fc55402fbf21357e1c55365a"
# Address of token vesting contract
CONTRACT_ADDR="0xcba1bb9E262fd206263a3E31b9722577839BEac3"
# Duration between 2 contract call in ms
DURATUION=300000